*.o
.project
Makefile
autom4te.cache/
compat/.deps/
compat/Makefile
compat/libcompat.a
config.h
config.log
config.status
doc/Makefile
include/Makefile
include/iperf-int.h
man/Makefile
src/.deps/
src/Makefile
src/iperf
stamp-h1